{% extends 'base.html' %}
{% load tag_addcss %}
{% load key_value_filter %}
{% load staticfiles %}
{% block content %}
<h2>Kontak Kami</h2>
<div id="alerts">
</div>
<form action="" method="post" id="contactForm">
{% csrf_token %}
	<div class="row">
		<img id="ajaxLoading" hidden src="{% static 'img/rolling.gif' %}">
	</div>
	<div class="row" id="formDiv">
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.name|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.phone|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.email|addcss:"form-control" }}
			</div>
		</div>
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.subject|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.message|addcss:"form-control" }}
			</div>
		</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-info" value="Tinggalkan Pesan!">
	</div>
</form>
<!--<div class="row">
	<h3>Pesantren Nuru Sibyan</h3>
	<h4>Jl TB H Gojali Mengger</h4>
	<h4>Kp. Kadumadang RT. 02/13 </h4>
	<h4>Ds. Kadumadang Kec. Cimanuk</h4>
	<h4>Kab. Pandeglang Banten</h4>
	<h4>081 314 467 688</h4>
</div>-->
<script>
$('#contactForm').submit(function(e){
	$("#formDiv").css("display","none")
	$("#ajaxLoading").show()
    $.post('/blog/contact/', $(this).serialize(), function(data){
    	var stats = JSON.parse(data).form_status;
    	if(stats == 'success'){
    		var alert_pn = '<div class="alert alert-success">' +
    		'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
    		'<strong>Sukses!</strong> Kami akan segera menghubungi anda kembali</div>';
    		$("#id_name").val('')
    		$("#id_phone").val('')
    		$("#id_email").val('')
    		$("#id_subject").val('')
    		$("#id_message").val('')
    	} else {
    		var alert_pn = '<div class="alert alert-danger">' +
    		'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
    		'<strong>Ups!</strong> Ada yang salah pada form anda</div>';
    	}
    	$('#alerts').html(alert_pn);
    	$('#ajaxLoading').hide()
    	$("#formDiv").css("display","inline")
       // of course you can do something more fancy with your respone
    });
    e.preventDefault();
});
</script>
{% endblock %}
