{% extends 'base.html' %}
{% load tag_addcss %}
{% load key_value_filter %}
{% block content %}
<h2>Kontak Kami</h2>
<div id="alerts">
</div>
<form action="" method="post" id="contactForm">
{% csrf_token %}
	<div class="row">
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.name|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.phone|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.email|addcss:"form-control" }}
			</div>
		</div>
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.subject|addcss:"form-control" }}
			</div>
			<div class="form-group">
				{{ form.message|addcss:"form-control" }}
			</div>
		</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-info" value="Tinggalkan Pesan!">
	</div>
</form>
<script>
$('#contactForm').submit(function(e){
    $.post('http://localhost:8080/blog/contact/', $(this).serialize(), function(data){
    	var stats = JSON.parse(data).form_status;
    	if(stats == 'success'){
    		var alert_pn = '<div class="alert alert-success">' +
    		'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
    		'<strong>Sukses!</strong> Kami akan segera menghubungi anda kembali</div>';
    	} else {
    		var alert_pn = '<div class="alert alert-danger">' +
    		'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
    		'<strong>Ups!</strong> Ada yang salah pada form anda</div>';
    	}
    	$('#alerts').html(alert_pn);
       // of course you can do something more fancy with your respone
    });
    e.preventDefault();
});
</script>
{% endblock %}
