{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Selamat Datang</h1>
    <p>Pesantren Nuru Sibyan</p> 
  </div>
  <div class="row">
    <h2>Latest News</h2>
  </div>
  <div class="row">
  	{% for post in posts %}
    	<div class="col-sm-4">
          <div> <img src="{{ MEDIA_URL }}{{ post.picture }}" class="img-thumbnail" width="100", height="100"></div>
      		<h3>{{ post.title }}</h3>
      		<p>{{ post.body|truncatewords:20 }}</p>
          <a href="{% url 'blog:view_post' slug=post.slug %}" class="btn">Read More </a>
    	</div>
    {% endfor %}
{% endblock %}