{% extends 'base.html' %}
{% load tag_addcss %}
{% load key_value_filter %}
{% load staticfiles  %}
{% block content %}
<h2>Gallery</h2>
<div>
	<div class="row" id="galleryContainer" style="text-align:center;">
	</div>
	<div class="row" id="ajaxLoader" style="text-align:center;">
		<img id="ajaxLoading" hidden src="{% static 'img/rolling.gif' %}">
	</div>
	<div class="row" id="showMoreDiv" style="text-align:center;">
		<button type="button" class="btn btn-md btn-info" id='showMore'>Show More</button>
	</div>
</div>
{% endblock %}
{% block additional_content %}
<script>
var next_link = '/blog/galleries/get/'

$(document).ready(function (e){
	get_galleries();
});

$("#showMore").click(function (e){
	get_galleries()
});

function render_galleries(data){
	var galleries = JSON.parse(data).galleries

	var gallery_html = ''
	for (var i = 0; i < galleries.length; i++) {
		var gallery = galleries[i]
		gallery_html +=		'<div class="col-sm-9 col-md-6 text-center" style="padding-bottom:20px;"">'
		gallery_html +=			'<img src="{{MEDIA_URL}}'+ gallery.first_pic +'" style="max-width:480px;">'
		gallery_html +=			'<a href="/blog/galleries/view/'+gallery.id+'/">'
		gallery_html +=			'<h4>'+gallery.title+'</h4>'
		gallery_html +=			'</a>'
		gallery_html +=		'</div>'
	}
	$("#galleryContainer").append(gallery_html)
}

function render_pagination(data){
	var pagination = JSON.parse(data).paginator
	if(pagination.has_next){
		next_link = '/blog/galleries/get/?page=' + pagination.next
		$("#showMoreDiv").show()
	}
}

function get_galleries(){
	$("#showMoreDiv").hide()
	$("#ajaxLoading").show()
	$.ajax({
		url:next_link,
		success:function(data){
			render_galleries(data);
			render_pagination(data);
		},
		complete:function(){
			$("#ajaxLoading").hide()
		}
	});
}
</script>
{% endblock %}
