{% extends 'base_admin.html' %}
{% load tag_addcss %}
{% load key_value_filter %}
{% load staticfiles %}
{% block content %}
<h1>Create new gallery</h1>
<div class="row">
	<div id="alertsHead">
	</div>
	<div class="form-group" id="formGallery">
		<input class="form-control" id="galleryTitle" maxlength="100" name="title" placeholder="Judul Galeri" type="text">
		</br>
		<button type="button" class="btn btn-success" id='createGallery'>Selesai</button>
	</div>
	<div id='refreshdiv' hidden>
			<button type="button" class="btn btn-success" id='refresh'>Buat galeri baru</button>
	</div>
</div>
<div class="row" style="text-align:center;">
	<img id="galleryCreateLoading" hidden src="{% static 'img/rolling.gif' %}">
</div>
<div class="row" id="imagesRow" style="margin-top: 10px;">
	<div class="col-xs-1" style="border-style:solid; border-color:black;padding-bottom:10px; cursor:pointer" id="newImage">
		<i class="glyphicon glyphicon-plus" style="font-size:60px;"></i>
		<h6>Tambah ganbar baru</h6>
	</div>
</div>
{% endblock %}
{% block additional_content %}
	<div id="imageModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header" id="messageHeader">
	        <button type="button" class="close" data-dismiss="modal" id='closeModal'>&times;</button>
	        <h4 class="modal-title">New Image</h4>
	      </div>
	      <div class="modal-body" id="messageBody" style="text-align:center;">
	      	<div id="alerts">
        	</div>
	        <form action="{% url 'blog:upload_image' %}" method="POST" enctype="multipart/form-data" id="imageForm">
	        	{% csrf_token %}
	        	{{ form.errors }}
	        	{{ form.non_field_errors }}
	        	<div class="form-group">
	        		{{ form.title.errors }}
	        		{{ form.title|addcss:"form-control" }}
	        	</div>
	        	<div class="form-group">
	        		{{ form.caption.errors }}
	        		{{ form.caption|addcss:"form-control" }}
	        	</div>
	        	<div class="form-group">
	        		{{ form.image.errors }}
	        		{{ form.image|addcss:"form-control" }}
	        	</div>
	        	<button type="submit" class="btn btn-info" id='uploadImage'>Upload</button>
	        </form>
	        <img id="imageUploadLoading" hidden src="{% static 'img/rolling.gif' %}">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id='closeModal'>Close</button>
	      </div>
	    </div>

	  </div>
	</div>
	<script>
	var files = [];
	var imageCount = 0;
	var alertDanger = '<div class="alert alert-danger">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Ups!</strong> Ada yang salah pada form anda</div>';
    var alertHeadDanger = '<div class="alert alert-danger">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Ups!</strong> Ada yang salah pada judul galeri (max 100 karakter, tidak boleh kosong)</div>';
    var alertHeadDanger2 = '<div class="alert alert-danger">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Ups!</strong> Jumlah gambar pada galeri harus lebih dari 1</div>';
    var alertHeadDanger3 = '<div class="alert alert-danger">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Ada kesalahan pada server, segera kontak admin</strong></div>';
    var alertHeadSuccess = '<div class="alert alert-success">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Galeri berhasil dibuat</strong></div>';
    var alertSuccess = '<div class="alert alert-success">' +
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
        '<strong>Ok</strong> Gambar berhasil di upload</div>'; 
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	            // Only send the token to relative URLs i.e. locally.
	            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	        }
	    }
	});
	$("#newImage").click(function (e){
		$("#imageModal").modal('toggle');
		// imageCount += 1;
		// $("#imagesRow").append(
		// 		'<div class="col-xs-1" style="border-style:solid; border-color:black;padding-bottom:10px; cursor:pointer" id="image-'+imageCount+'">' 
		// 		+	'<i class="glyphicon glyphicon-plus" style="font-size:60px;"></i>'
		// 		+	'<h6>Add new image</h6>'
		// 		+ '</div>'
		// 	);
	});
	$("#imageForm").submit(function (e) {
		e.preventDefault();
		$(this).hide();
		$("#imageUploadLoading").show();
		var data = new FormData($('#imageForm').get(0));
		$.ajax({
			type:'POST',
			url:"{% url 'blog:upload_image' %}",
		    cache: false,
		    processData: false,
		    contentType: false,
			data:data,
			success:function(data){
				console.log(data);
				var status = (JSON.parse(data).upload_status);
				var fname = (JSON.parse(data).file);
				files.push(fname);
				$("#imageUploadLoading").hide();
				if(status == "success"){
					$('#imageForm').find("input[type=text], textarea, input[type=file]").val("");
					$('#alerts').html(alertSuccess);
					$('#imagesRow').append(
						'<div class="col-xs-2 imageDiv" style="cursor:pointer" id="'+ fname +'">'
						+	'<img src="{{ MEDIA_URL }}media/'+ fname +'" style="max-height:100px;">'
						+	'<small>'+fname+'</small>'
						+ '</div>'
						);
				} else {
					$('#alerts').html(alertDanger);
				}
				$('#imageForm').show();
			}
		});
	});
	$("#createGallery").click(function (e){
		if(files.length > 1 ){
			if(title_is_valid()){
				$("#imagesRow").hide();
				$("#formGallery").hide();
				$("#galleryCreateLoading").show();
				$.post("{% url 'blog:create_gallery' %}", {'files':files, 'title':$("#galleryTitle").val()}, function (data){
				 var status = JSON.parse(data).create_status;
				 console.log(data);
				 if(status == 'success'){
				 	$('#alertsHead').html(alertHeadSuccess);
				 	$('#refreshdiv').show();
				 	$("#galleryCreateLoading").hide();
				 }
				});
			} else {
				$('#alertsHead').html(alertHeadDanger);
			}
		}else{
			$('#alertsHead').html(alertHeadDanger2);
		}
	});

	$("#imagesRow").on('mouseover', '.imageDiv', function(){
		console.log('hovered!')
		$(this).find('small').html('delete?')
	});

	$("#refresh").click(function (e) {
		location.reload();
	});

	function title_is_valid(){
		var title = $("#galleryTitle").val();
		var is_valid = false;
		if(title && title.length <= $("#galleryTitle").attr('maxlength')){
			is_valid = true
		}
		return is_valid;
	}
	</script>
{% endblock %}