{% extends 'base_admin.html' %}
{% load tag_addcss %}
{% load staticfiles %}
{% block additional_head %}
<script type="text/javascript" src='{% static "tiny_mce/tiny_mce.js" %}'></script>
<script>
tinyMCE.init({
    mode: "textareas",
    theme: "advanced",
    relative_urls : false,
	convert_urls : false,
	remove_script_host : false,
	plugins : "advlink"
});
</script>
{% endblock %}
{% block content %}
<h2>Create a new post</h2>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			{% if field.errors %}
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
			{{ field.label }} :
	 		{{ field|addcss:"form-control" }}
			</br>
		{% endfor %}
		<input type="submit" name="save-only" class="btn" value="Post!">
		<input type="submit" name="add-another" class="btn btn-info" value="Post and add another post">
	</form>
{% endblock %}