{% load endless %}
{% paginate posts %}
			{% for latest_post in posts %}
				<div class="row">
					<div class="col-sm-5 col-md-6"><img src="{{ MEDIA_URL }}{{ latest_post.picture }}" class="img-thumbnail" style="max-height: 500px"></div>
					<div class="col-sm-5 col-md-6">
						<a href="{% url 'blog:view_post' slug=latest_post.slug %}">
							<h4>
								{{ latest_post.title }} </br>
								<small>{{ latest_post.posted }}</small>
							</h4>
							<p>{{ latest_post.body|truncatewords:30 }}</p>
						</a>
					</div>
				</div>
			{% endfor %}
			{% show_more %}
		</div>