{% extends 'base_admin.html' %}
{% load tag_addcss %}
{% load key_value_filter %}
{% block content %}
	<h4>Masukkan password baru anda</h4>
	<div id="alert">
	</div>
	<form action="" method="post" id="changePasswordForm">
{% csrf_token %}
	<div class="row">
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.new_password|addcss:"form-control" }}
			</div>
		</div>
		<div class="col-sm-5 col-md-6">
			<div class="form-group">
				{{ form.new_password_repeat|addcss:"form-control" }}
			</div>
		</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-info" value="Submit">
	</div>
</form>
{% endblock %}
{% block additional_content %}
	<script>
		$(document).ready(function(){
			$('#changePasswordForm').submit(function (e){
				e.preventDefault();
				$.post("{% url 'blog:change_password' %}", $(this).serialize(), function(data){
					var status = JSON.parse(data).pass_status;
					if(status == 'success'){
						var alertType = 'alert-success'
						var message = 'Password anda berhasil diganti, anda harus login lagi.'
					} else {
						var alertType = 'alert-danger'
						var message = status
					}
					var alert = '<div class="alert '+ alertType +'">' +
    				'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + message +'</div>';
    				$('#alert').html(alert);
    				setTimeout(function(){
    					window.location.replace("{% url 'blog:user_login' %}");
    				}, 3000)
				});
			});
		});
	</script>
{% endblock %}